{% extends 'base/base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="cart-title">New Confirmed</h4>
                        <p class="card-text">{{ global_summery.NewConfirmed }}</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="cart-title">TotalConfirmed</h4>
                        <p class="card-text">{{ global_summery.TotalConfirmed }}</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="cart-title">NewDeaths</h4>
                        <p class="card-text">{{ global_summery.NewDeaths }}</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="cart-title">TotalDeaths</h4>
                        <p class="card-text">{{ global_summery.TotalDeaths }}</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="cart-title">NewRecovered</h4>
                        <p class="card-text">{{ global_summery.NewRecovered }}</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="cart-title">TotalRecovered</h4>
                        <p class="card-text">{{ global_summery.TotalRecovered }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}